# AB Testi ile BiddingYöntemlerinin Dönüşümünün Karşılaştırılması

## İş Problemi
 Facebook kısa süre önce mevcut "maximumbidding" adı verilen teklif verme türüne alternatif
 olarak yeni bir teklif türü olan "average bidding"’i tanıttı. Müşterilerimizden biri olan abc.com,
 bu yeni özelliği test etmeye karar verdi ve averagebidding'in maximumbidding'den daha fazla dönüşüm
 getirip getirmediğini anlamak için bir A/B testi yapmak istiyor. A/B testi 1 aydır devam ediyor ve
 abc.com şimdi sizden bu A/B testinin sonuçlarını analiz etmenizi bekliyor. abc.com için
 nihai başarı ölçütü Purchase'dır. Bu nedenle, istatistiksel testler için Purchase metriğine odaklanılmalıdır.

## Veri Seti Hikayesi
Bir firmanın web site bilgilerini içeren bu veri setinde kullanıcıların gördükleri ve tıkladıkları
 reklam sayıları gibi bilgilerin yanı sıra buradan gelen kazanç bilgileri yer almaktadır.Kontrol ve Test
 grubu olmak üzere iki ayrı veri seti vardır. Bu veri setleri ab_testing.xlsx excel’inin ayrı sayfalarında yer
 almaktadır. Kontrol grubuna Maximum Bidding, test grubuna AverageBiddinguygulanmıştır.

In [37]:
import pandas as pd
from scipy.stats import shapiro, levene, ttest_ind, mannwhitneyu

In [39]:
pd.set_option("display.max_columns", None)
pd.set_option("float.format", lambda x : '%.4f' % x)

In [ ]:
#Veri setlerimizi okuyalım

In [4]:
df1 = pd.read_excel("/Users/huseyinefkanalp/Desktop/DataScience/DataSets/ab_testing.xlsx", sheet_name = "Control Group")
df1.head()

      Impression        Click    Purchase      Earning
0   82529.459271  6090.077317  665.211255  2311.277143
1   98050.451926  3382.861786  315.084895  1742.806855
2   82696.023549  4167.965750  458.083738  1797.827447
3  109914.400398  4910.882240  487.090773  1696.229178
4  108457.762630  5987.655811  441.034050  1543.720179

In [7]:
df2 = pd.read_excel("/Users/huseyinefkanalp/Desktop/DataScience/DataSets/ab_testing.xlsx", sheet_name = "Test Group")
df2.head()

      Impression        Click    Purchase      Earning
0  120103.503796  3216.547958  702.160346  1939.611243
1  134775.943363  3635.082422  834.054286  2929.405820
2  107806.620788  3057.143560  422.934258  2526.244877
3  116445.275526  4650.473911  429.033535  2281.428574
4  145082.516838  5201.387724  749.860442  2781.697521

In [40]:
#Veri setlerimizin hangi sayfada olduğunu belirtmek için yeni sütunlar oluşturup sayfa isimlerini veriyoruz
df1["Group"] = "Control"
df2["Group"] = "Test"

In [41]:
#Veri seti birleştirme işlemi
df = pd.concat([df1,df2])
df.head()

   Impression     Click  Purchase   Earning    Group
0  82529.4593 6090.0773  665.2113 2311.2771  Control
1  98050.4519 3382.8618  315.0849 1742.8069  Control
2  82696.0235 4167.9657  458.0837 1797.8274  Control
3 109914.4004 4910.8822  487.0908 1696.2292  Control
4 108457.7626 5987.6558  441.0340 1543.7202  Control

In [16]:
df.isnull().sum()

Impression    0
Click         0
Purchase      0
Earning       0
Group         0
dtype: int64

In [17]:
df.shape

(80, 5)

In [12]:
#Impression = Reklam görüntüleme sayısı
#Click = Reklama tıklama sayısı
#Purchase = Tıklanan reklamlar sonrası satın alınan ürün sayısı
#Earning = Satın alınan ürünlerin kazancı

In [36]:
#Hipotez
#h0 : m1 = m2 ( Kontrol grubu satın alma sayıları ile test grubu satın alma sayıları arasında istatistiksel anlamlı fark yoktur)
#h1 : m1 != m2 (... Vardır)

In [35]:
#Normallik varsayımı
#h0 : m1=m2 (normal dağılmıştır)
#h1 : m1 = m2 (normal dağılmamıştır)
pvalue = shapiro(df.loc[df["Group"] == "Control", "Purchase"])[1]
print('%.4f' % (pvalue))
pvalue = shapiro(df.loc[df["Group"] == "Test", "Purchase"])[1]
print('%.4f' % (pvalue))
#Bu değerlerden Normal dağıldığını anlıyoruz çünkü p<0.05 sağlamıyor

0.5891
0.1541

In [34]:
#Varyans Homojenliği
#H0 : m1=m2 (Varyanslar homojendir)
#H1 : m1!=m2 (Varyanslar homojen değildir)
pvalue = levene(df.loc[df["Group"]=="Control", "Purchase"],
               df.loc[df["Group"]== "Test", "Purchase"])[1]
print('%.4f' % (pvalue))
#Bu değerden Varyanslarının homojen olduğunu anlıyoru çünkü p<0.05 sağlamıyor

0.1083

In [33]:
pvalue = ttest_ind(df.loc[df["Group"]=="Control", "Purchase"],
                   df.loc[df["Group"]=="Test", "Purchase"])[1]
print('%.4f' % (pvalue))

0.3493

In [ ]:
#H0 reddedilemez çünkü pvalue<0.05 Sağlamıyor. 
#*-----Yani Control Grubu ile Test grubunun Purchase değerlerinde istatistiksel olarak anlamlı fark yoktur------*